<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/Vue/JS/jqmeter.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel="shortcut icon" href="/Ressources/favicon.png" />
    <script src="/semantic/dist/components/dimmer.min.js" ></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/Vue/JS/loading-bar.css"/>
    <script type="text/javascript" src="/Vue/JS/loading-bar.js"></script>
    <title>Plateforme Heyliot - Devices </title>

    <style>
        .Site
        {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .main.container
        {
            padding-top: 100px;
            flex: 1;
        }

    </style>
</head>


<body class="Site">


<div class="ui fixed menu">
    <div class="header item">
        <img src="/Ressources/Logo400x400.jpg">
    </div>
    <div class="item text">
        <a href="/mainPage">
            <h4>Dashboard</h4>
        </a>
    </div>
    <div class="active item text">
        <h4>Capteurs</h4>
    </div>
    <div class="item text">
        <h4>Statistiques</h4>
    </div>
    <div class="item tiny flag">
        <i class="france flag"></i>
    </div>

    <div class="item ui right aligned small">
        <span>
            <div class="text">
                <img class="ui avatar image" src="/Ressources/heyliot_logo_couleurs.png">
                <span>ADMIN Heyliot</span>
            </div>
        </span>
    </div>
</div>


<div class="ui main container">


    <% if (dev.FillLevel >= 75) { %>
    <div class="ui green inverted segment" >
        <h2><%= dev.Name %></h2>
    </div>
    <table class="ui green fixed celled table">
        <tbody>
            <tr>
                <td>
                    <div  data-preset="fan"  data-stroke="#45b384" style="width: 90%; height: 90%" class="ldBar label-center" data-value="<%= dev.FillLevel %>"></div>
                </td>
                <td>
                    <% if (dev.Lon == null|| dev.Lat == null ) {%>
                    <div class="ui error message">
                        Erreur le capteur n'as pas pu etre géolocalisé!
                    </div>
                    <%} else {%>
                    <div id="map" style="width:535px; height:500px"></div>
                    <%}%>                </td>
            </tr>
        </tbody>
    </table>



    <% } if (dev.FillLevel <= 25) { %>
    <div class="ui red inverted segment" >
        <h2><%= dev.Name %></h2>
    </div>
    <table class="ui red fixed celled table">
        <tbody>
            <tr>
                <td>
                    <div  data-preset="fan"  data-stroke="#ea5153" style="width: 90%; height: 90%" class="ldBar label-center" data-value="<%= dev.FillLevel %>"></div>
                </td>
                <td>
                    <% if (dev.Lon == null|| dev.Lat == null ) {%>
                    <div class="ui error message">
                        Erreur le capteur n'as pas pu etre géolocalisé!
                    </div>
                    <%} else {%>
                    <div id="map" style="width:535px; height:500px"></div>
                    <%}%>
                </td>
            </tr>
        </tbody>
    </table>



    <% } if (dev.FillLevel < 75 && dev.FillLevel > 25 ) { %>
    <div class="ui blue inverted segment" >
        <h2><%= dev.Name %></h2>
    </div>
    <table class="ui blue fixed celled table">
        <tbody>
            <tr>
                <td>
                    <div  data-preset="fan"  data-stroke="#007cb3" style="width: 90%; height: 90%" class="ldBar label-center" data-value="<%= dev.FillLevel %>"></div>
                </td>
                <td>
                    <% if (dev.Lon == null|| dev.Lat == null ) {%>
                        <div class="ui error message">
                            Erreur le capteur n'as pas pu etre géolocalisé!
                        </div>
                    <%} else {%>
                        <div id="map" style="width:535px; height:500px"></div>
                    <%}%>
                </td>
            </tr>
        </tbody>
    </table>
    <% } %>

    <div class="ui stacked segment">
        <% if (dev.FillLevel >= 75) { %>
            <div class="ui green inverted segment">
                <h3>Historique</h3>
            </div>
        <% } if (dev.FillLevel <= 25) { %>
            <div class="ui red inverted segment">
                <h3>Historique</h3>
            </div>
        <% } if (dev.FillLevel < 75 && dev.FillLevel > 25 ) { %>
        <div class="ui blue inverted segment">
            <h3>Historique</h3>
        </div>


        <% } for(let i = pay.length -1 ; i != -1; i-- ) {%>

            <% if (dev.FillLevel >= 75) { %>
                <div class="ui green segment">
            <% } else if (dev.FillLevel <= 25) { %>
                <div class="ui red segment">
            <%} else {%>
                <div class="ui blue segment">
            <%}%>


                <%if (pay[i].EventCode == 1){%>
                    <% if (dev.FillLevel >= 75) { %>
                        <span class="ui green large ribbon label">Mesure</span>
                    <% } else if (dev.FillLevel <= 25) { %>
                        <span class="ui red large ribbon label">Mesure</span>
                    <%} else {%>
                        <span class="ui blue large ribbon label">Mesure</span>
                    <%}%>
                <%} else if (pay[i].EventCode == 0){%>
                    <% if (dev.FillLevel >= 75) { %>
                        <span class="ui green large ribbon label">Calibration</span>
                    <% } else if (dev.FillLevel <= 25) { %>
                        <span class="ui red large ribbon label">Calibration</span>
                    <%} else {%>
                        <span class="ui blue large ribbon label">Calibration</span>
                    <%}%>
                <%}%>
                    <span>
                        <%= pay[i].DateGot %>
                        <br>
                        <%= pay[i].Mesure %>  (<%= (100 - (pay[i].Mesure * 100 / dev.CalibrationMeasure))%> %)
                    </span>
                </div>
        <%}%>


        <% if (dev.FillLevel >= 75) { %>
            <div class="ui green segment">
                <span class="ui green large ribbon label">Création</span>
                <% } else if (dev.FillLevel <= 25) { %>
            <div class="ui red segment">
                <span class="ui red large ribbon label">Création</span>
                <%} else {%>
            <div class="ui blue segment">
                <span class="ui blue large ribbon label">Création</span>
        <%}%>
            Date de création:  <%= dev.Created %>
        </div>
    </div>


    <div class="ui right aligned">
        <a href="/devices">
            <div class="ui animated grey button">
                <div class="hidden content">
                    <img src="/Ressources/icons/chevron-sign-left.png">
                </div>
                <div class="visible content">Précédent</div>
            </div>
        </a>
    </div>

</div>


<div class="ui blue inverted vertical footer segment">
    <div class="ui center aligned container">
        <img src="/Ressources/logo_horizontal.png" class="ui centered small image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item "  href="https://www.heyliot.com/contact/">Contactez Nous</a>
            <a class="item" target="_blank" href="https://www.heyliot.com/">Nous visiter</a>
            <a class="item" target="_blank" href="https://twitter.com/heyliotFr">
                <img src="/Ressources/icons/twitter-logo.png" class="ui image">
            </a>
            <a class="item" target="_blank" href="https://www.facebook.com/heyliot/">
                <img src="/Ressources/icons/facebook-logo.png" class="ui image">
            </a>
            <a class="item" href="mailto:contact@heyliot.com">
                <img src="/Ressources/icons/envelope.png" class="ui image">
            </a>
        </div>

    </div>
</div>

<!--TODO: C'est moche aussi pareil que sur la mainPage -->
<script type="text/javascript">
    (function(){
        var vectorSource = new ol.source.Vector({
            //create empty vector
        });

        //create a bunch of icons and add to source vector
        for (var i=0;i<=0;i++){

            var iconFeature = new ol.Feature({
                geometry: new
                ol.geom.Point(ol.proj.transform([<%= dev.Lon %>, <%= dev.Lat %>], 'EPSG:4326',   'EPSG:3857')),
                name: "Device",
                population: 4000,
                rainfall: 500
            });
            vectorSource.addFeature(iconFeature);
        }

        //create the style
        var iconStyle = new ol.style.Style({
            image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                anchor: [0, 0],
                anchorXUnits: 'fraction',
                anchorYUnits: 'pixels',
                opacity: 1,
                src: '/Ressources/icons/map-pin-red.png'
            }))
        });



        //add the feature vector to the layer vector, and apply a style to whole layer
        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: iconStyle
        });

        var map = new ol.Map({
            layers: [new ol.layer.Tile({ source: new ol.source.OSM() }), vectorLayer],
            target: document.getElementById('map'),
            view: new ol.View({
                center: ol.proj.fromLonLat([<%= dev.Lon %>, <%= dev.Lat %>]),
                zoom: 15
            })
        });
    })();
</script>

</body>
</html>